@model Vidly.Models.Movie

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <h2>@Model.Name</h2>
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-text">Genre: @Html.DisplayFor(model => model.Genre.Name)</li>
            <li class="list-group-item list-group-item-text">Release Date: @Html.DisplayFor(model => model.ReleaseDate)</li>
            <li class="list-group-item list-group-item-text">Date Added: @Html.DisplayFor(model => model.DateAdded)</li>
            <li class="list-group-item list-group-item-text">Stock: @Html.DisplayFor(model => model.NumberInStock)</li>
        </ul>
    </div>

</div>

